{% extends "registration/_simple.html" %}
{% block cuerpo %}<h2>Entrar</h2>
<form method="post">{% csrf_token %}
<div class="f"><label for="id_username">Correo</label><input type="email" name="username" id="id_username" autocomplete="username" required autofocus value="{{ form.username.value|default:'' }}"></div>
<div class="f"><label for="id_password">Contraseña</label><input type="password" name="password" id="id_password" autocomplete="current-password" required></div>
{% if form.errors %}<div class="err">Correo o contraseña incorrectos. Después de 5 intentos la cuenta se bloquea 15 minutos.</div>{% endif %}
<input type="hidden" name="next" value="{{ next }}">
<div class="macts" style="justify-content:space-between;align-items:center"><a href="{% url 'contrasena_recuperar' %}" class="mini">Olvidé mi contraseña</a><button class="btn p" type="submit">Entrar</button></div>
</form>{% endblock %}
